<div class='landingpage'>

  <span class="titlepage">FlikBites</span><br>
  <script src="//use.edgefonts.net/vibur;yesteryear;baumans.js"></script>
  <%= link_to "Sign up Now", new_user_path, id: 'signupnow'%>
</div>
<br>
<br>
<br>
<br>
<div class="pure-g-r">
  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("mobile.jpg")%>
      <h1 class="frontext">Mobile</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed leo eu velit pharetra dapibus. Nunc vestibulum, nulla a mollis iaculis, est risus posuere massa.</p>
    </div>
  </div>

  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("food.jpg")%>
      <h1 class="frontext">Food</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed leo eu velit pharetra dapibus. Nunc vestibulum, nulla a mollis iaculis, est risus posuere massa.</p>
     </div>
  </div>

  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("explore.jpg")%>
      <h1 class="frontext">Exploration</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed leo eu velit pharetra dapibus. Nunc vestibulum, nulla a mollis iaculis, est risus posuere massa.
        </p>
    </div>
  </div>
</div>

