<div class='landingpage'>

  <span class="titlepage">FlikBites</span><br>
  <script src="//use.edgefonts.net/vibur;yesteryear;baumans.js"></script>
  <%= link_to "Sign up Now", new_user_path, id: 'signupnow'%>
</div>
<br>
<br>
<br>
<br>
<div class="pure-g-r">
  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("mobile.jpg")%>
      <h1 class="frontext">Mobile</h1>
      <p>FlikBites is built for the Mobile User! Preview a restaurant's menu on the go!</p>
    </div>
  </div>

  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("food.jpg")%>
      <h1 class="frontext">Unique</h1>
        <p>FlikBites is changing the restaurant world by letting you see all of the dishes at your favorite restaurants!</p>
     </div>
  </div>

  <div class="pure-u-1-3">
    <div class="l-box">
      <%=image_tag("explore.jpg")%>
      <h1 class="frontext">Exploration</h1>
        <p>Ever hear of a cool new restaurant but not know what the food really looks like? That's what FlikBites is for!</p>
    </div>
  </div>
</div>