<div class='pure-g-r'>
  <div class='pure-u-1'>
    <h1>Add a Dish to <%= @restaurant.name %></h1>
    <%= render partial: 'form', :locals => {:dish => @dish, :restaurant => @restaurant } %>
  </div>
</div>