<div class="card">
  <p>Name: <%= @dish.name.titleize %></p>
  <p>Price: <%= @dish.price %></p>
  <p>Photo: <img src="http://lorempixel.com/300/300/food/" alt=""> </p>
  <p>Category: <%= @dish.category %> </p>
  <p>Description: <%= @dish.description %></p>
</div>