<div id='uploadform'>
<%= form_for (@photo),:html => {:class => 'pure-form pure-form-aligned'} do |f| %>
  <div class="field">
    <%= hidden_field_tag 'photo[dish_id]', @dish.id %>
    <%= f.file_field :image, id: "take-picture", accept: "image/*"%>
  </div>
  <table>
    <tr>
      <td>
        <div id="save_to_db">
          <%= f.submit 'Save to database'%>
        </div>
      </td>
      <td>
        <div id="floatingBarst">.........</div>
      </td>
      <td> 
        <div id="floatingBarsG">
          <div class="blockG" id="rotateG_01"></div>
          <div class="blockG" id="rotateG_02"></div>
          <div class="blockG" id="rotateG_03"></div>
          <div class="blockG" id="rotateG_04"></div>
          <div class="blockG" id="rotateG_05"></div>
          <div class="blockG" id="rotateG_06"></div>
          <div class="blockG" id="rotateG_07"></div>
          <div class="blockG" id="rotateG_08"></div>
        </div>
      </td>
    </tr>
  </table>
<% end %>
</div>