<ul class = "restaurant_list">
	<% @restaurants.each do |r| %>
		<div class="dish">
			<div class="front">
				<div class = "card">
					<div class = "card_pic">
						<%=link_to r.name, "/#{r.url}/dishes" %>
					</div>
					<div id="card_desc">
						<%= r.cuisine %>
					</div>
				</div>
			</div>
			<div class="back">
				<div class = "card_pic">
					<%=link_to r.name, "/#{r.url}/dishes" %>
				</div>
				<div id="card_desc">
					<%= r.cuisine %>
				</div>
   			</div>
	    </div>
	<% end %>
</ul>

