<div id='restlist'>
	<% @restaurants.each_with_index do |r, i| %>
	 		<div class='restcar'>
			<%= render partial: 'rest_flip', :locals => {:restaurant => r, :index => i } %>
		</div>
	<% end %>
</div>


