.rest_header {
  text-align: center;
}

#rest_show_name {
  font-size: 2em;
}



ul.dish_categories li button{
  border: 1px solid black;
  padding: 1%;
  border-radius: .5em;
  background-color: #4cc534;
  width: 100%;
}

ul.dish_categories li button.button_down {
  background-color: #5aaa4b;
}

ul.dish_categories li button:hover {
  background-color: #5aaa4b;
}

.dish_layout {
  margin-left: 14%;
  width: 70%;
  float: left;
}

.js_data {
  visibility: hidden;
}