/*
 * Attribution: http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/
 *
 * DON'T VISIT THE ABOVE SITE FOR ANSWERS UNLESS YOU'RE
 * COMPLETELY STUMPED
 *
 * ...also, it will not help you solve the JavaScript :)
*/
 html {
  height: 100%;
 }

 body {
  height: 100%;
 }

 .show_dish {
  height: 300px;
  width: 60%;
  height: 80%;
  border: 1px solid black;
  margin: 0 auto;
 }

.container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
 
.carousel{
  overflow:hidden;
  width:100%;
}
.frames{
  list-style:none;
  /* position: What value should position have?; */
  width:3000%;
  overflow:hidden;
  padding:0;
  margin:0;
}
.frames > li{
  position:relative;
  right: 0px;
  float:left;
  width:33.33333%; /* 100 / number of frames */
  max-width:300px;
  max-height:300px;
}

.carousel img{
  display:block;
  max-width:300px;
  max-height:300px;
  margin: auto;
}

.carousel h2{
  font-size:1em;
  padding:0.5em;
  position:absolute;
  bottom:10px;
  left:10px;
  text-align:left;
  margin: 0;
  color:#fff;
  background-color:rgba(99,0,0,0.75);
}
 
.carousel_controls a {
  font-family: monospace;
  text-decoration: none;
  position: absolute;
  margin-top: 99px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
a#previous_frame {
  margin-left: -50px;
}
a#next_frame {
  margin-left: 320px;
}