/*
 * Attribution: http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/
 *
 * DON'T VISIT THE ABOVE SITE FOR ANSWERS UNLESS YOU'RE
 * COMPLETELY STUMPED
 *
 * ...also, it will not help you solve the JavaScript :)
*/
html {
  height: 100%;
}

body {
  height: 100%;
}

.show_dish {
  height: 300px;
  height: 80%;
  margin: 0 auto;
}

.dish_category{
  display: block;
}

.dish_name {
  float:left;
}

.dish_price {
  float:right;
}

.dish_photo {
  width:310px;
}

.dish_description {
  clear:left;
}

#take-picture {
  margin:0 auto;
}

.field {
  width: 50%;
  margin:5% auto;
}

#save_to_db input{
  background-color:#ee7836;
  color: white;
  border: none;
  text-indent:0px;
  display:inline-block;
  font-family:arial;
  font-size:21px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:200px;
  text-decoration:none;
  text-align:center;
}
#save_to_db input:hover {
  background-color:#ee5b36;
  color: white;
}#save_to_db input:active {
  position:relative;
  top:1px;
}