.landingpage{
  background-image: url("../assets/burger.jpg");
  background-size: 100% 150%;
	background-attachment: relative;
	background-position: center;
	background-repeat:no-repeat;
	color: #E8E8E8;
	font-size: 1.5em;
}

.titlepage{
	color: #E8E8E8;
	text-shadow: 7px 7px black;
	font-family: vibur, cursive;
	font-family: yesteryear, sans-serif;
}

.pure-menu-horizontal li {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	border: none;
	position: relative;
	font-family: vibur, cursive;
	font-family: baumans, sans-serif;
	color: white;
}

.pure-menu-horizontal li:hover {
	color: black;
}

.frontext{
	font-family: vibur, cursive;
	font-family: baumans, sans-serif;
}

.pure-menu li a:hover{
	color: red;
}


.pure-menu li a:hover, .pure-menu li a:focus {
background: black;
}