#headeritems {
  background-color:#21262E;
}

#std-menu-items a{
  color:white;
}

body {
  background-color: #72C4C0;
}

#redpanda{
  border-radius: 5px;
}

.l-box {
  width:33%;
}
.l-box:first-child {
margin-left: 33%;
}

#error_explanation {
  border: 2px solid red;
  margin-bottom: .5%;
}

#error_explanation h4 {
  border-bottom: 2px solid red;
  text-align: center;
  margin-top: 0;
}

#error_explanation ul li {
  list-style-type: circle;
}

.signupnow {
  background-color:#ee7836;
  color: white;
  border: none;
  border-bottom-left-radius:3px;
  text-indent:0px;
  display:inline-block;
  font-family:arial;
  font-size:21px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:200px;
  text-decoration:none;
  text-align:center;
}.signupnow:hover {
  background-color:#ee5b36;
  color: white;
}.signupnow:active {
  position:relative;
  top:1px;
}


.createuser {
  background-color:#ee7836;
  color: white;
  border: none;
  text-indent:0px;
  display:inline-block;
  font-family:arial;
  font-size:21px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:200px;
  text-decoration:none;
  text-align:center;
}.createuser:hover {
  background-color:#ee5b36;
  color: white;
}.createuser:active {
  position:relative;
  top:1px;
}
