.index rest {
	width: 90%;
}

.card {
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}

ul.tab {
	border: 1px solid black;
	list-style-type: none;
}

li.index_one_rest {
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
}

#card_desc {
	border-top: 1px solid black
}

ul.tab_header {
	padding-left: 0;
	width: 100%;
	border: 2px solid black;
	padding: 2px;
}

ul.tab_header li {
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	display: inline-block;
	list-style: none;
}