.index rest {
	width: 90%;
}

.card {
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}

ul.index_rest {
	border: 1px solid black;
	list-style-type: none;
}

li.index_one_rest {
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
}

#card_desc {
	border-top: 1px solid black
}
