.menu {
	width: 95%;

}

ul.tab_header {
	padding: 0;
	width: 100%;
	border: 2px solid black;
	text-align: center;
	margin-bottom: 0;
}

ul.tab {
	position: absolute;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	list-style-type: none;
	margin-top: 0;
	margin-right: 0;
	padding: .5%;
	text-align: center;
	width: 94%;
}

ul.tab_header li {
	font-size: 20px;
	width: 30%;
	border-top-right-radius: 10px;
	font-family: sans-serif;
	display: inline-block;
	text-align: left;
	list-style: none;
	border-right: 2px solid black;
}

.card {
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}

#card_desc {
	border-top: 1px solid black
}


.hidden {
	display: none;
}